{% extends 'base_site.html' %}
{% load static %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <form action="/student/studentregistration/" method="post" onsubmit="f_send_message()">{% csrf_token %}
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Student Registration Form</h6>
                    <div class="row mb-3">
                        <label for="inputName" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputName" name="inputName" required=True>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputGender" class="col-sm-3 col-form-label">Gender</label>
                        <div class="col-sm-9">
                            <select class="form-select" name="inputGender" id="inputGender">
                                <option value="mr">Mr</option>
                                <option value="mrs">Mrs</option>
                                <option value="bro">Bro</option>
                                <option value="sist">Sister</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail" required=True name="inputEmail">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPhone" class="col-sm-3 col-form-label">Booked Phone</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputPhone" required=True placeholder="Start with '62'" name="inputPhone">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputAddress" class="col-sm-3 col-form-label">Address</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="inputAddress" name="inputAddress"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <legend class="col-form-label col-sm-3 pt-0">Send Message</legend>
                        <div class="col-sm-9">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    Send Whatsapp Message
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
        </form>

        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">List Master Student</h6>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Booked Phone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Termination</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in datamst %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{data.name}}</td>
                            <td>{{data.phone}}</td>
                            <td>{{data.email}}</td>
                            <td>{{data.date_created}}</td>
                            <td>{% if data.gender == 'mr' %}
                                    Laki Laki
                                {% elif data.gender == 'mrs' %}
                                    Perempuan
                                {% elif data.gender == 'bro' %}
                                    Laki Laki
                                {% elif data.gender == 'sist' %}
                                    Perempuan
                                {% endif %}
                            </td>
                            <td>
                                <input type="button" id="buttonTerminate{{data.id}}" value={{data.id}} hidden>
                                <button type="button" class="btn btn-warning open-Terminate{{data.id}}" style="height:25px; width:75px; font-size:10px">Terminate</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container-fluid pt-4 px-4"> 
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Student Termination Form</h6>
                            <form action="/student/studenttermination/" method="post">{% csrf_token %}
                                <div class="row mb-3">
                                    <input type="number" name="inputIdTerminate" id="inputIdTerminate" hidden>
                                    <label for="inputReason" class="col-sm-6 col-form-label">Reason Terminate</label>
                                    <div class="col-sm-9 col-xl-12">
                                        <input type="text" class="form-control" id="inputReason" required=True name="inputReason">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-end">
                                        <button type="submit" class="btn btn-danger ml-2">Terminate</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-4 px-4">
            </div>
        </div>
    </div>
</div>

<script>
    function f_send_message()
  {
    const cb = document.querySelector('#gridCheck1');
    var phone = $('#inputPhone').val();
    var name = $('#inputName').val().split(" ")[0];
    var text = "Halo! Salam Kenal, " + name + "!\nIzin memperkenalkan diri, aku Ahmad Afif dari Superprof.\nAda yang bisa dibantu? Terimakasih";

    if (cb.checked){
        text = encodeURI(text);
        window.open("https://wa.me/"+phone+"?text="+text);
    }
  }
</script>
{% endblock content %}

{% block script %}

{% for data in datamst %}
    <script>
        $(document).on("click", ".open-Terminate{{data.id}}", function () {
            var $ids =  $('#buttonTerminate{{data.id}}').val();
            $("#detail").modal('show');
            $("#detail").find('input[name="inputIdTerminate"]').val($ids);
            {% comment %} $.ajax({
                type: "GET",
                url: "http://{{ request.get_host }}/student/terminate/"+$ids,
                success:function(data){
                    window.location.reload();
                }
            }); {% endcomment %}
        });
    </script>
{% endfor %}

{% endblock script %}