{% extends 'base_site.html' %}
{% load static %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <form action="/account/createexpense/" method="post">{% csrf_token %}
            <div class="col-sm-12 col-xl-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Generate Expense</h6>
                        <div class="row mb-3">
                            <label for="inputNameBilling" class="col-sm-3 col-form-label">Billing Name</label>
                            <div class="col-sm-9">
                                <select class="form-select" id="inputNameBilling" name="inputNameBilling" required=True>
                                    {% for option in databill %}
                                        <option value={{option.id}}>{{option.item_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3" id="startDateForm" style="display:none">
                            <label for="inputStartDateContract" class="col-sm-3 col-form-label">Start Date Contract</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="inputStartDateContract" name="inputStartDateContract">
                            </div>
                        </div>
                        <div class="row mb-3" id="periodContract" style="display:none">
                            <label for="periodContract" class="col-sm-3 col-form-label">Periode Contract (in Year)</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="periodContract" name="periodContract">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputAmount" class="col-sm-3 col-form-label">Amount</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="inputAmount" name="inputAmount" required=True>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputType" class="col-sm-3 col-form-label">Source Account</label>
                            <div class="col-sm-9">
                                <select class="form-select" id="inputType" name="inputType" required=True>
                                        {% comment %} <option value="Cash">Cash</option> {% endcomment %}
                                        <option value="Bank Permata">Bank Permata</option>
                                        <option value="Bank BRI">Bank BRI</option>
                                        <option value="Bank Sinarmas">Bank Sinarmas</option>
                                        <option value="Laundry Balance">Laundry Balance</option>
                                        <option value="Cash">Cashout</option>
                                        <option value="OVO">OVO</option>
                                        <option value="Shoope Pay">Shoope Pay</option>
                                        <option value="Gopay">Gopay</option>
                                        <option value="E-Money">E-Money</option>
                                        <option value="Brizzi">Brizzi</option>                                                                        
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputDate" class="col-sm-3 col-form-label">Account Date</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="inputDate" name="inputDate">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputRemarks" class="col-sm-3 col-form-label">Remarks</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputRemarks" name="inputRemarks">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Expense List</h6>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Description</th>
                            <th scope="col">Amount In</th>
                            <th scope="col">Amount Out</th>
                            <th scope="col">Overall Balance</th>
                            <th scope="col">Account Type</th>
                            <th scope="col">Account Date</th>
                            <th scope="col">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in dataexpense %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{data.description}}</td>
                            <td>{{data.amount_in}}</td>
                            <td>{{data.amount_out}}</td>
                            <td>{{data.overall_balance}}</td>
                            <td>{{data.account_type}}</td>
                            <td>{{data.account_date}}</td>
                            <td>{{data.remarks}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script>
    $('#inputNameBilling').on("click", function() {
        var dropdown = $('#inputNameBilling').find(":selected").val();
        if (dropdown=="16"){
            $('#startDateForm').delay(500).slideDown('slow');
            $('#periodContract').delay(500).slideDown('slow');
        } else {
            $('#startDateForm').delay(500).slideUp('slow');
            $('#periodContract').delay(500).slideUp('slow');
        }
    })

    $(document).ready( function() {
        var now = new Date();
        var month = (now.getMonth() + 1);               
        var day = now.getDate();
        if (month < 10) 
            month = "0" + month;
        if (day < 10) 
            day = "0" + day;
        var today = now.getFullYear() + '-' + month + '-' + day;
        $('#inputDate').val(today);
        $('#inputStartDateContract').val(today);
    });
</script>
{% endblock script %}
