{% extends 'base_site.html' %}
{% load static %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <form action="/account/stockinvestment/" method="post">{% csrf_token %}
            <div class="col-sm-12 col-xl-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Input Stock</h6>
                        <div class="row mb-3">
                            <label for="inputNameStock" class="col-sm-3 col-form-label">Stock Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputNameStock" name="inputNameStock" required=True>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputLot" class="col-sm-3 col-form-label">Lot</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="inputLot" name="inputLot" step=1 required=True>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputAverage" class="col-sm-3 col-form-label">Avg Price</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="inputAverage" name="inputAverage" step=0.001 required=True>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4 overflow-scroll">
                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="">Stock List</h6>
                    <button class="btn btn-warning update-price">Update Price</button>
                </div>
                <table class="table table-hover" id="table_price">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Price</th>
                            <th scope="col">Average</th>
                            <th scope="col">DER</th>
                            <th scope="col">BV 5</th>
                            <th scope="col">BV Annual</th>
                            <th scope="col">Growth Rate</th>
                            <th scope="col">Dividend</th>
                            <th scope="col">FV</th>
                            <th scope="col">PBV</th>
                            <th scope="col">Lot</th>
                            <th scope="col">My Portfolio</th>
                            <th scope="col">Target Price</th>
                            <th scope="col">G/L</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in datastock %}
                        {% if data.7 > -7 %}
                        <tr style="background-color:#ee9f27">
                        {% elif data.0.average < data.0.last_price %}
                        <tr style="background-color:#7FFF00">
                        {% else %}
                        <tr>
                        {% endif %}
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{data.0.stock_code}}</td>
                            <td>{{data.0.last_price}}</td>
                            <td>{{data.0.average}}</td>
                            <td>{{data.0.der_annual}}</td>
                            <td>{{data.0.bv_5}}</td>
                            <td>{{data.0.bv_annual}}</td>
                            <td>{{data.2}}%</td>
                            <td>{{data.0.dividend}}</td>
                            <td>{{data.3}}</td>
                            <td>{{data.4}}</td>
                            <td>{{data.0.lot}}</td>
                            <td style="text-align:right; min-width: 150px;">Rp. {{data.5}}</td>
                            <td>{{data.6}}</td>
                            <td style="text-align:right; min-width: 150px;">Rp. {{data.8}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script>
    $(document).ready( function() {
        var now = new Date();
        var month = (now.getMonth() + 1);               
        var day = now.getDate();
        if (month < 10) 
            month = "0" + month;
        if (day < 10) 
            day = "0" + day;
        var today = now.getFullYear() + '-' + month + '-' + day;
        $('#inputDate').val(today);
    });
    $('.update-price').click(function() {
        $.ajax({
            type: "POST",
            url: "/account/updateprice/",
            data:{
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            beforeSend: function() {
                $('#table_price').html('Loading...');
            },
            success: function(data) {
                window.location='/account/stockinvestment/';
            }
        });
        return false;
    });
</script>
{% endblock script %}
